<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Certificados</title>
    <link rel="stylesheet" href="/css/style_dashboard.css" />
  </head>
  <body>
    <div id="navbar-placeholder"></div>
    <script src="/js/loadNavbar.js"></script>

    <main class="main-content">
      <div class="container">
        <header class="section-header">
          <h1>Mis Certificados</h1>
          <p>Descarga tus logros académicos</p>
        </header>

        <section class="certificates-grid">
          <article class="certificate-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBdyPhAYRj2118cjn5q7BXDA5ADgWU5xwSpQ&s" alt="Certificado Python" />
            <h3>Fundamentos de Python</h3>
            <p>Completado</p>
            <button class="btn-continue">Descargar PDF</button>
          </article>

          <article class="certificate-card certificate-disabled">
            <h3>Próximamente</h3>
            <p>Completa más cursos</p>
          </article>
        </section>
      </div>
    </main>
  </body>
</html>
