<aside class="sidebar">
  <ul class="menu">
    <li><a href="#" class="active"><i class="fas fa-book"></i> Tópico</a></li>
    <li><a href="#"><i class="fas fa-file-alt"></i> Texto</a></li>
    <li><a href="#"><i class="fas fa-image"></i> Imagen</a></li>
    <li><a href="#"><i class="fas fa-video"></i> Video</a></li>
    <li><a href="#"><i class="fas fa-microphone"></i> Audio</a></li>
    <li><a href="#"><i class="fas fa-clipboard-check"></i> Checkpoint</a></li>
    <li><a href="#"><i class="fas fa-file-signature"></i> Evaluacion</a></li>
    <li><a href="#"><i class="fas fa-chart-line"></i> Seguimiento</a></li>
  </ul>
</aside>